<!-- Footer -->
<footer class="bg-primary text-white pt-4 pb-2">
    <div class="container">
        <div class="row">
            <!-- About Us Section -->
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>
                    We are a dynamic team that provides innovative solutions.
                    To learn more about us,
                    <a routerLink="/About" class="text-light me-3">click Here</a>
                </p>
                
            </div>

            <!-- Contact Us Section -->
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: musaifalam212&#64;gmail.com</li>
                    <li>Phone: +91 9113379017</li>
                    <li>Address: Star colony Lohardaga, Jharkhand (India) </li>
                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a routerLink="" class="text-light me-3">
                    <i class="bi bi-linkedin"></i> LinkedIn
                </a><br>
                <a routerLink="" class="text-light me-3">
                    <i class="bi bi-facebook"></i> Facebook
                </a><br>
                <a routerLink="" class="text-light">
                    <i class="bi bi-instagram"></i> Instagram
                </a>
            </div>

        </div>
        <hr class="bg-white">
        <div class="text-center">
            <p class="mb-0">&copy; 2025 Musaif Alam's Office Company. All Rights Reserved.</p>
        </div>
    </div>
</footer>